@model Autore 
    
<h1>Elenco Libri di @Model.Nome</h1>

<table class="table">
    <thead>
        <tr>
            <td>Titolo</td>
            <td>Argomento</td>
            <td>Biblioteca</td>
            <td>Numero di Pagine</td>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var lb in Model.CollezioneLibri)
        {
            <tr>
                <td>@lb.Nome</td>
                <td>@lb.Argomento</td>
                <td>@lb.Biblioteca.Nome</td>
                <td>@lb.NumeroPagine</td>
                   
            </tr>
        }
       
    </tbody>
</table>